body {
  margin: 0;
  padding: 0;
}

body * {
  font-family: Arial, Helvetica, sans-serif;
}

@media (min-width: 768px) {
  #wd-kanbas .wd-main-content-offset {
    padding-left: 140px !important;
  }
}

.list-group.wd>.list-group-item.active {
  color: black;
  background-color: white;
  border-left: 3px solid black !important;
}

.btn-secondary {
  --bs-btn-color: #000 !important;
  --bs-btn-bg: #c7cdd1 !important;
  --bs-btn-border-color: #c7cdd1 !important;
  --bs-btn-hover-color: #fff !important;
}

.bg-secondary {
  --bs-secondary-rgb: 199, 205, 209;
}

.list-group-item {
  --bs-list-group-border-color: gray;
}

.wd-lesson {
  border-left: 3px solid green !important;
}



/* QUIZ DETAILS */

#quiz-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

#quiz-view-buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

#quiz-details-content-cols {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}

#quiz-details-left {
  text-align: right;
}

#quiz-details-right {
  text-align: left;
  width: 305px;
}

.quiz-detail-category {
  font-weight: bold;
  display: block;
}

quiz-details-content th {
  font-weight: bold;
}

quiz-details-content tr {
  border: 1px solid black;
}

quiz-details-content table {
  border: 1px solid black;
  border-collapse: collapse;
  width: 100%;
}